{
	"module": {
		"type": "commonjs",
		"strict": true,
		"strictMode": true,
		"lazy": false,
		"noInterop": false,
		"ignoreDynamic": false
	},
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"dynamicImport": false
		},
		"target": "es2022"
	}
}